.authorContainer,
.author {
  @include flex-center;
}

.authorContainer {
  @include tablet {
    display: none;
  }
}
.profileWrapper {
  display: flex;
}

.author {
  width: rem(28px);
  height: rem(28px);
  border: 1px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  margin-left: -0.5rem;

  &RestCount {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(12px);
    font-weight: 600;
    color: #484848;
    border: rem(1px) solid #e3e3e3;
  }
}

.allCountAuthor {
  font-size: $font-lg;
  font-weight: 400;
  color: $gray900;
  margin-left: rem(11px);
}

.divider {
  width: rem(1px);
  height: rem(20px);
  background-color: $gray200;

  &Count {
    margin: 0 rem(28px);
  }

  &Emoji {
    margin: 0 rem(13px);
  }
}
