.flexContainer {
  @include flex-center;
  position: relative;
}

//공통
.btn {
  @include flex-center;
  height: rem(36px);
  background-color: transparent;
  border: rem(1px) solid $gray300;
  border-radius: rem(6px);
  margin: 0;
  padding: rem(17px) rem(8px);
}

//공통
.icon {
  width: rem(21px);
  height: rem(21px);
}

.emojiBox {
  position: absolute;
  top: rem(50px);
  right: rem(25px);
  z-index: 50;
}
