.iconContainer,
.iconWrapper,
.icon {
  @include flex-center;
}

.iconContainer {
  position: relative;
  margin-right: 0.5rem;
}

.iconWrapper {
  gap: 0.5rem;

  &Margin {
    margin-right: rem(20px);
  }
}

//버튼 리셋 스타일 삭제
.arrow {
  width: rem(36px);
  height: rem(36px);
  border: none;
  background: transparent url('@/assets/images/arrow.png') center / 12px
    no-repeat;
  padding: 0;
  transition: transform 0.3s ease;
}

.arrow.rotate {
  transform: rotate(180deg);
}

.reactionsBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: absolute;
  flex-wrap: wrap;
  border: rem(1px) solid rgba($color: $black, $alpha: 0.3);
  background-color: $white;
  padding: $size-lg;
  border-radius: rem(9px);
  gap: 0.5rem;
  top: rem(50px);
  left: rem(-70px);
  z-index: 10;

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
    left: 0;
  }

  @include mobile {
    padding: 1rem;
  }
}
