.flexContainer {
  @include flex-center;
  position: relative;
}

//공통 (shareBtn)
.btn {
  @include flex-center;
  height: rem(36px);
  background-color: transparent;
  border: rem(1px) solid $gray300;
  border-radius: rem(6px);
  margin: 0;
  padding: rem(17px) rem(8px);
  color: var(--color-gray-text);
  font-size: $font-sm;
}

//공통 (shareBtn)
.icon {
  @include flex-center;
  & svg {
    width: rem(21px);
    height: rem(21px);
    path {
      fill: var(--color-default-text);
    }
  }
}

.emojiBox {
  position: absolute;
  top: rem(50px);
  right: rem(25px);
  z-index: 20;

  @include mobile {
    right: 0;
  }
}
