.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  max-width: rem(1200px);
  width: 100%;
  height: rem(68px);
  margin: 0 auto;

  @include tablet {
    padding: 0 $size-lg;
  }
  @include mobile {
    display: block;
    height: rem(104px);
    padding: 0;
  }
}

.recipient {
  font-size: $font-3xl;
  font-weight: 700;
  color: $gray800;

  @include mobile {
    line-height: rem(52px);
    padding: 0 rem(20px);
    border-bottom: rem(1px) solid $gray200;
  }
}

.navRight {
  @include flex-center;

  @include mobile {
    height: rem(52px);
  }
}
