.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-default-background);
  max-width: rem(1200px);
  width: 100%;
  height: rem(68px);
  height: rem(68px);
  margin: 0 auto;

  @include tablet {
    padding: 0 $size-lg;
    padding: 0 $size-lg;
  }
  @include mobile {
    display: block;
    height: rem(104px);
    height: rem(104px);
    padding: 0;
  }
}

.recipient {
  font-size: $font-3xl;
  font-weight: 700;
  color: var(--color-gray-text);

  @include mobile {
    line-height: rem(52px);
    padding: 0 rem(20px);
    border-bottom: rem(1px) solid $gray200;
    line-height: rem(52px);
    padding: 0 rem(20px);
    border-bottom: rem(1px) solid $gray200;
  }
}

.navRight {
  @include flex-center;

  @include mobile {
    justify-content: flex-end;
    height: rem(52px);
    padding: 0 rem(20px);
  }
}
.authorCountSkeleton {
  width: rem(280px);
  height: rem(28px);
  margin-right: rem(35px);
  @include flicker;
}
.emojiBarSkeleton {
  width: rem(230px);
  height: rem(36px);
  margin-right: rem(20px);

  @include flicker;
}
