.shareContainer {
  position: relative;
}

.shareBox {
  width: rem(140px);
  height: rem(120px);
  position: absolute;
  background-color: $white;
  border: rem(1px) solid $gray300;
  border-radius: 0.5rem;
  top: rem(50px);
  right: 0;
  z-index: 20;
  padding: rem(10px) 0;

  > li {
    display: block;
    text-align: center;
    line-height: rem(50px);

    &:hover {
      background-color: $gray100;
    }
  }
}

//버튼 리셋 스타일 삭제
.shareBtn {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
