.shareContainer {
  position: relative;
}

.shareBox {
  width: rem(140px);
  position: absolute;
  background-color: var(--color-default-background);
  border: rem(1px) solid $gray300;
  border-radius: 0.5rem;
  top: rem(50px);
  right: 0;
  z-index: 20;

  display: flex;
  justify-content: center;
  flex-direction: column;

  & > li {
    display: block;
    text-align: center;
    line-height: rem(50px);

    &:hover {
      background-color: var(--color-hover-gray);
    }
  }
}

.shareBtn {
  width: 100%;
  color: var(--color-default-text);
  padding: 1rem 0;
  border-radius: 0.5rem;
}
