.toast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  max-width: 524px;
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.8);
  border-radius: 8px;
  padding: 20px 30px;
  bottom: 70px;
  left: 50%;
  z-index: 20;
  transform: translateX(-50%);

  @include mobile {
    max-width: 320px;
  }

  > div {
    @include flex-center;
  }

  &Icon {
    width: 24px;
    height: 24px;
  }

  &Copy {
    font-size: $font-md;
    font-weight: 400;
    color: #fff;
    margin-left: 12px;
  }
}

.closeIcon {
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  > img {
    width: 100%;
    height: 100%;
  }
}
