.editorWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.label {
  font-size: $font-2xl;
  font-weight: 700;
  font-family: $font-family-primary;
  color: $gray900;
}

.textarea {
  width: 100%;
  padding: $size-sm $size-md;
  border: 1px solid $gray300;
  border-radius: $radius-sm;
  font-size: $font-md;
  line-height: 1.5;
  resize: vertical;
  color: $gray900;
  background-color: $white;

  &::placeholder {
    color: $gray400;
  }

  &:focus {
    border-color: $purple500;
    outline: none;
  }
}
