.form {
  display: flex;
  flex-direction: column;
  gap: rem(50px);
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: rem(20px);
  margin-top: rem(24px);

  button {
    width: rem(300px);
  }
}
