.form {
  display: flex;
  flex-direction: column;
  gap: rem(50px);
  width: 100%;
  max-width: rem(720px);
  margin: 0 auto;

  @include tablet {
    padding: 0 rem(16px);
    box-sizing: border-box;
  }

  @include mobile {
    padding: 0 rem(16px);
    box-sizing: border-box;
  }
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: rem(20px);
  margin-top: rem(24px);

  button {
    width: rem(300px);
  }
}
