.wrapper {
  margin: 0 auto;
  padding-top: rem(47px);

  @include tablet {
    padding-top: rem(49px);
    padding: 0 rem(16px);
    box-sizing: border-box;
  }

  @include mobile {
    padding-top: rem(50px);
    padding: 0 rem(16px);
    box-sizing: border-box;
  }
}
