.selectWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.label {
  font-size: $font-2xl;
  font-weight: 700;
  font-family: $font-family-primary;
  color: $gray900;
}

.select {
  width: 100%;
  padding: 12px $size-md;
  border: 1px solid $gray300;
  border-radius: $radius-md;
  font-size: $font-md;
  font-weight: 400;
  background-color: $white;
  color: $gray500;

  &:focus {
    border-color: $purple500;
    outline: none;
  }
}
