.sliderWrapper {
  position: relative;
  display: flex;
  align-items: center;

  width: 100%;
  max-width: 1130px;
  margin-top: $size-md;
  margin-bottom: 50px;

  overflow: visible;
}

.sliderOuter {
  flex: 1;
  overflow-x: auto;
  overflow-y: visible;

  padding: 10px 24px;
  scroll-padding: 0 24px;
}

.slider {
  display: flex;
  gap: 20px;
  padding-bottom: 30px;

  scroll-behavior: smooth;
  max-width: 100%;
  overflow: visible;

  // 스크롤바 숨김
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;

  & > * {
    flex-shrink: 0;
    width: 260px;
  }
}

.buttonLeft {
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-100%);
  z-index: 10;
}

.buttonRight {
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-100%);
  z-index: 10;
}
