.card {
  width: rem(275px);
  height: rem(260px);
  border-radius: $size-md;
  overflow: visible;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  will-change: transform;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  }
}

.thumbnail {
  height: rem(210px);
  padding: rem(30px) rem(24px) rem(20px);
  background-size: cover;
  background-position: center;

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: visible;
}

.title {
  font-size: $font-2xl;
  font-weight: 700;
  color: $gray900;
}

.participants {
  display: flex;
  align-items: center;

  & > * {
    width: rem(28px);
    height: rem(28px);
    border-radius: 50%;
    border: 1.5px solid $white;
    object-fit: cover;
    margin-left: rem(-12px);

    &:first-child {
      margin-left: 0;
    }
  }
}

.extra {
  width: rem(33px);
  height: rem(28px);
  border-radius: rem(30px);
  margin-left: rem(-12px);

  background-color: $white;
  color: $gray500;
  font-size: $font-xs;
  font-weight: 400;

  display: flex;
  align-items: center;
  justify-content: center;
}

.count {
  font-size: $font-md;
  font-weight: 400;
  color: $gray700;
}

.total {
  font-size: $font-md;
  font-weight: 700;
  color: $gray700;
}

.divider {
  width: rem(227px);
  height: 1px;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.reactions {
  display: flex;
  align-items: center;
  gap: rem(8px);
  margin: $size-md 0 20px 24px;
}

.reaction {
  width: rem(65px);
  height: rem(32px);
  padding: rem(8px) rem(12px);
  gap: 2px;
  border-radius: rem(32px);

  background-color: rgba(0, 0, 0, 0.54);
  color: $white;
  font-size: $font-sm;
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;
}
