.card {
  position: relative;
  width: rem(275px);
  height: rem(260px);
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: $size-md;
  background-color: $white;
  transform-origin: top left;
  transition: box-shadow 0.2s ease;
  will-change: transform;
  cursor: pointer;
  &:hover {
    box-shadow: 0 rem(8px) rem(16px) rgba(0, 0, 0, 0.15);
    z-index: 10;
  }
}
.overlay {
  border-radius: $size-md;
  opacity: 0.8 !important;
  top: 0;
  left: 0;
  position: absolute;
  background-size: 100%;
  z-index: -1;
  content: '';
  width: 100%;
  height: 100%;
}

.thumbnail {
  height: rem(210px);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: rem(30px) rem(24px) rem(20px);
  background-position: center;
  background-size: cover;
  overflow: visible;
}

.title {
  color: $gray900;
  font-size: $font-2xl;
  font-weight: 700;
}

.participants {
  display: flex;
  align-items: center;

  & > * {
    width: rem(28px);
    height: rem(28px);
    margin-left: rem(-12px);
    border: 1.5px solid $white;
    border-radius: 50%;
    object-fit: cover;

    &:first-child {
      margin-left: 0;
    }
  }
}

.extra {
  width: rem(33px);
  height: rem(28px);
  margin-left: rem(-12px);
  background-color: $white;
  color: $gray500;
  font-size: $font-xs;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: rem(30px);
}

.count {
  color: $gray700;
  font-size: $font-md;
  font-weight: 400;
}

.total {
  color: $gray700;
  font-size: $font-md;
  font-weight: 700;
}
.white {
  color: $white;
  & > span {
    color: $white;
  }
}
.divider {
  width: rem(227px);
  height: 1px;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.reactions {
  display: flex;
  align-items: center;
  gap: rem(8px);
  margin: $size-md 0 20px 24px;
}
.pattern {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.green {
  background-color: $green200;
}
.beige {
  background-color: $beige200;
}
.purple {
  background-color: $purple200;
}
.blue {
  background-color: $blue200;
}
