@use "@/styles/token" as token;

.sliderWrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: token.$size-md;
  max-width: 1130px;
  width: 100%;
  overflow: visible;
  margin-bottom: 50px;
}

.sliderOuter {
  overflow-x: auto;
  overflow-y: visible;
  flex: 1;
  padding: 10px 24px;
  scroll-padding: 0 24px;
}

.slider {
  display: flex;
  gap: 20px;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow: visible;
  & > * {
    flex-shrink: 0;
    width: 260px;
  }
  padding-bottom: 30px;
  //스크롤바 숨김
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.buttonLeft {
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-100%);
  z-index: 10;
}

.buttonRight {
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-100%);
  z-index: 10;
}
