.sliderWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: rem(40px);
  overflow: visible;
}

.sliderOuter {
  overflow-x: hidden;
  overflow-y: visible;

  // 스크롤바 숨김
  &::-webkit-scrollbar {
    display: none;
  }

  @include tablet {
    padding: 0 rem(24px);
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-x;
    -ms-overflow-style: none;
  }

  @include mobile {
    padding: 0 rem(24px);
    overflow-x: auto;
  }
}

.sliderHoverWrapper {
  overflow: visible;
  padding-bottom: rem(10px);
}

.slider {
  display: flex;
  gap: rem(20px);

  @include tablet {
    width: max-content;
  }

  @include mobile {
    width: max-content;
  }
}

.buttonLeft {
  position: absolute;
  top: 50%;
  left: rem(-16px);
  transform: translateY(-50%);
  z-index: 50;
}

.buttonRight {
  position: absolute;
  top: 50%;
  right: rem(-16px);
  transform: translateY(-50%);
  z-index: 50;
}
