.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: rem(50px) 0;
  overflow: visible;

  @include tablet {
    padding: 0 rem(24px);
  }
  @include mobile {
    padding: 0 rem(20px);
  }
}

.buttonField {
  display: flex;
  width: rem(280px);
  height: rem(56px);
  margin: 0 auto;
  border-radius: rem(12px);
  font-weight: 700;
  text-align: center;

  @include tablet {
    width: 100%;
  }
  @include mobile {
    width: 100%;
  }
}
