@use "@/styles/_token" as token;
@use "@/styles/font" as font;

.title {
  margin-left: 380px;

  font-size: token.$font-2xl;
  font-weight: 700;
  font-family: token.$font-family-primary;
  color: token.$black;
}
