@mixin font-face($name, $path, $weight: null, $format: null) {
  @font-face {
    font-family: $name;
    font-weight: $weight;
    src: url($path) format($format);
  }
}
@include font-face(
  'Poppins',
  '@/assets/fonts/Poppins/Poppins-Bold.woff',
  700,
  'woff'
);
@include font-face(
  'Pretendard',
  '@/assets/fonts/Pretendard/Pretendard-Thin.woff2',
  100,
  'woff2'
);
@include font-face(
  'Pretendard',
  '@/assets/fonts/Pretendard/Pretendard-ExtraLight.woff2',
  200,
  'woff2'
);
@include font-face(
  'Pretendard',
  '@/assets/fonts/Pretendard/Pretendard-Light.woff2',
  300,
  'woff2'
);
@include font-face(
  'Pretendard',
  '@/assets/fonts/Pretendard/Pretendard-Medium.woff2',
  400,
  'woff2'
);
@include font-face(
  'Pretendard',
  '@/assets/fonts/Pretendard/Pretendard-Regular.woff2',
  500,
  'woff2'
);
@include font-face(
  'Pretendard',
  '@/assets/fonts/Pretendard/Pretendard-SemiBold.woff2',
  600,
  'woff2'
);
@include font-face(
  'Pretendard',
  '@/assets/fonts/Pretendard/Pretendard-Bold.woff2',
  700,
  'woff2'
);
@include font-face(
  'Pretendard',
  '@/assets/fonts/Pretendard/Pretendard-ExtraBold.woff2',
  800,
  'woff2'
);
@include font-face(
  'Noto Sans',
  '@/assets/fonts/NotoSans/NotoSansKR-Regular.ttf',
  400,
  'woff2'
);
@include font-face(
  '나눔명조',
  '@/assets/fonts/NanumMyeongjo/NanumMyeongjo-Regular.otf',
  400,
  'woff'
);
@include font-face(
  '나눔손글씨 손편지체',
  '@/assets/fonts/NanumSonPyeonJiCe/NanumSonPyeonJiCe-Regular.ttf',
  400,
  'woff'
);
