@use 'sass:math';

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flicker {
  animation: flickerAnimation 1s infinite;
  background-color: #cccccc;

  @keyframes flickerAnimation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }
}
/* px to rem */
$base-rem-size: 16px;
@function remove-unit($value) {
  @return math.div($value, ($value * 0 + 1));
}
@function rem($px, $base: $base-rem-size) {
  @return (remove-unit(math.div($px, $base))) * 1rem;
}
