html[data-theme='light'] {
  --color-default-background: #{$white};
  --color-default-text: #{$black};
  --color-gray-text: #{$gray800};
}
html[data-theme='dark'] {
  --color-default-background: #{$dark};
  --color-default-text: #{$white};
  --color-gray-text: #{$gray100};
}
body {
  background-color: var(--color-default-background);
  color: var(--color-default-text);
}
