$button-size: rem(56px);

.addCardBox {
  width: $button-size;
  height: $button-size;
  font-size: $font-2xl;
  color: $white;
  background-color: $gray600;
  border-radius: $radius-full;
  border-style: none;
  cursor: pointer;
}
