$button-size: rem(56px);
$button-img: rem(24px);

.addCardBox {
  @include flex-center;
  width: $button-size;
  height: $button-size;
  background-color: $gray600;
  border-radius: $radius-full;
  cursor: pointer;
}

.plusIcon {
  width: $button-img;
  height: $button-img;
}
