$button-size: 3.5rem;

.addCardBox {
  width: $button-size;
  height: $button-size;
  font-size: $font-2xl;
  color: $white;
  background-color: $gray600;
  border-radius: 6.25rem;
  border-style: none;
  cursor: pointer;
}
