@use './CardDetailShared.module.scss' as *;

.cardBoxAdd {
  @include flex-center;
  width: 100%;
  height: rem(280px);
  background-color: var(--color-default-background);
  border-radius: $radius-lg;
  max-width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
  &:hover {
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
  }
}

.cardBox {
  @include column;
  position: relative;
  align-items: flex-start;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  height: rem(280px);
  background-color: var(--color-default-background);
  border-radius: $radius-lg;
  padding: rem(28px) rem(24px) rem(24px);
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.2s ease;
  &:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  }
}

.cardTopSection {
  @include cardTopSection;
}

.cardProfile {
  @include cardProfile;
}

.title {
  @include title;
}

.fromLabel {
  @include fromLabel;
}

.writerName {
  @include writerName;
}

.Hr {
  @include Hr;
}

.cardContent {
  @include cardContent(100%, rem(106px));
}

.cardDate {
  @include cardDate($bottom: rem(24), $left: rem(24px));
}
.cardSkeleton {
  @include flicker;
}
