.background {
  min-height: 100vh;
  width: 100%;
  overflow-y: auto;
}

.background-purple {
  background-color: $purple200;
}

.background-beige {
  background-color: $beige200;
}

.background-blue {
  background-color: $blue200;
}

.background-green {
  background-color: $green200;
}

.cardListContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $size-lg;
  padding: rem(113px) 0;
  width: 100%;
  max-width: rem(1200px);
  margin: 0 auto;
  position: relative;

  @media (max-width: 1247px) {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    box-sizing: border-box;
    padding-right: rem(24px);
    padding-left: rem(24px);
  }

  @media (max-width: 767px) {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
  }
}

.btnEdit {
  position: absolute;
  right: 0;
  top: rem(50px);
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;

  button {
    width: rem(92px);
    height: rem(40px);
  }

  @include tablet {
    position: fixed;
    top: auto;
    bottom: rem(24px);
    z-index: 50;
    width: 100%;
    padding: 0 rem(24px);

    > li {
      width: 100%;
    }
  }
}
