$card-width: 384px;
$card-height: 280px;
$profile: 56px;

@mixin column {
  display: column;
  align-items: center;
}

.cardBoxAdd {
  @include flex-center;
  width: $card-width;
  height: $card-height;
  background-color: $white;
  border-radius: 1rem;
}

.cardBox {
  @include column;
  width: $card-width;
  height: $card-height;
  background-color: $white;
  border-radius: 1rem;
  padding: 28px 24px 24px;
}

.cardTopSection {
  display: flex;
}

.cardProfile {
  border-radius: 100px;
  margin-bottom: $size-md;
}
.profileImage {
  width: $profile;
  height: $profile;
}

.cardWriterInfo {
}

.title {
  margin-bottom: 6px;
}

.fromLabel {
  font-size: $font-xl;
  font-weight: 400;
}

.writerName {
  font-size: $font-xl;
  font-weight: 700;
}

.badge {
  width: 41px;
  height: 20px;
  border-radius: 4px;
}

.hr {
  border-top: 1px solid $gray200;
}

.cardContent {
  font-size: $font-lg;
  font-weight: 400;
  line-height: $font-3xl;
  color: $gray600;
  margin-top: $size-md;
  margin-bottom: $size-md;
}

.cardDate {
  font-size: $font-xs;
  font-weight: 400;
  color: $gray400;
}
