.bottom-cta {
  width: 100%;
  max-width: 1200px;
  margin: 60px auto 104px auto; // 위 60px, 아래 104px로 Figma 반영
  display: flex;
  justify-content: center;

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;
    gap: 10px;

    width: 280px;
    height: 56px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #ffffff;
    text-align: center;

    background: #9935ff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: #7a26cc;
    }
  }
}
