.bottom-cta {
  width: 100%;
  max-width: 1200px;
  margin: 60px auto 104px auto; // 위 60px, 아래 104px
  display: flex;
  justify-content: center;
  padding: 0 60px;
  box-sizing: border-box;

  @include tablet {
    padding: 0 24px;
  }
  @include mobile {
    padding: 0 24px;
    display: block; // flex 해제
  }
}
.button-wrapper {
  width: rem(280px);
  @include tablet {
    width: 100%;
  }
}
