.header {
  @include flex-center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  border-bottom: 1px solid #ededed;
  width: 100%;
}
.nav {
  display: flex;
  justify-content: space-between;
  margin: $size-sm 0;
  max-width: 1200px;
  width: 100%;
}
@include tablet {
  .header {
    justify-content: center;
  }
  .nav {
    width: 100%;
    margin: $size-sm $size-lg;
  }
}
@include mobile {
  .nav {
    width: 100%;
    margin: $size-sm 20px;
  }
}
.logo {
  width: 106px;
  height: 42px;
}
