.header {
  @include flex-center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  border-bottom: 1px solid #ededed;
  width: 100%;
  @include tablet {
    .header {
      justify-content: center;
    }
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: $size-sm 0;
  max-width: rem(1200px);
  width: 100%;
  @include tablet {
    .nav {
      width: 100%;
      margin: $size-sm $size-lg;
    }
  }
  @include mobile {
    .nav {
      width: 100%;
      margin: $size-sm rem(20px);
    }
  }
}
.logo {
  width: rem(106px);
  height: rem(42px);
}
.buttons-wrapper {
  @include flex-center;
  gap: $size-sm;
}
.button-outlined {
  background-color: $white;
  width: 100%;
  border: 1px solid $gray300;
  border-radius: rem(6px);
  padding: rem(8px) $size-md;
  color: $gray900;
  font-size: $font-md;

  &:disabled {
    background-color: $gray300;
    color: $white;
  }
  &:hover {
    background-color: $gray100;
  }
  &:active {
    background-color: $gray100;
  }
}
