.deletePost {
  @include flex-center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--color-default-background);
  & > svg {
    width: rem(110px);
    height: rem(110px);
    path {
      fill: var(--color-light-gray-text);
    }
  }
}
.yesDelete {
  font-size: $font-md;
  color: $error;
  font-weight: 400;
  margin-top: rem(40px);
}

.deletePostBtn {
  display: flex;
  justify-content: space-between;
  margin-top: rem(50px);
  gap: 1rem;
  button {
    width: rem(120px);
    height: 40px;
  }
}
