* {
  font-family: $font-family-primary;
}
.container {
  position: relative;
  font-family: $font-family-primary;
  padding: $size-lg $size-lg;
}
.container-post {
  position: relative;
  font-family: $font-family-primary;
}
