* {
  font-family: $font-family-primary;
}
.container {
  margin: $size-md auto;
  position: relative;
  font-family: $font-family-primary;
}
@include mobile {
  .container {
    margin: $size-md auto;
  }
}
