* {
  font-family: $font-family-primary;
}
.container {
  margin: 0 auto;
  position: relative;
  font-family: $font-family-primary;
  padding: $size-lg 0;
}
.container-post {
  position: relative;
  font-family: $font-family-primary;
}
