.profile {
  border-radius: $radius-full;
  background-color: $gray300;
  @include flex-center;
}
.profile-big {
  width: rem(56px);
  height: rem(56px);
}
.profile-small {
  width: rem(26px);
  height: rem(26px);
}
.stroke {
  border: 1.5px solid $white;
}
.img {
  width: 100%;
  border-radius: $radius-full;
}
