.profile {
  position: relative;
  border-radius: $radius-full;
  @include flex-center;
}
.profile-big {
  width: rem(56px);
  height: rem(56px);
}
.profile-small {
  width: rem(26px);
  height: rem(26px);
}
.stroke {
  border: 1.5px solid $white;
}
.img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: $radius-full;
}
.profile-skeleton {
  position: absolute;
  border-radius: $radius-full;
  @include flicker;
}
